button:hover{
    background-color: gray;


}
button:active{
    background-color: rgb(164, 163, 163);
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;


}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}


#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(95, 94, 93);
    color: white;

}




button{
width: 100px;
height: 100px;
border-radius: 50px;
border: none;
background-color: rgb(123, 121, 118);
color:rgb(255, 255, 255);
font-size: 3rem;
font-weight: bold;
cursor: pointer;



}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(163, 114, 23);
}
.operator-btn:active{
    background-color: rgb(103, 71, 11);
}
